<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Railway Regression Suite">
    <listeners>
        <listener class-name="common.TestListener"/>
    </listeners>

    <test name="Full Regression Tests">
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.AccountTests"/>
            <class name="tests.ManageTests"/>
            <class name="tests.TicketTests"/>
            <class name="tests.ScheduleTests"/>
        </classes>
    </test>
</suite>
